# ==========================
# Python
# ==========================
backend/venv/
__pycache__/
*.py[cod]

# ==========================
# Frontend
# ==========================
frontend/node_modules/
frontend/dist/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# VS Code
# ==========================
.vscode/